<div class="container p-3">
    <div class="principal text-center">
        CONSULTAR VALORES
    </div>

    <div class="row justify-cointent-center">
        <div class="form-group col-4 offset-4">
          <label></label>
          <input type="text" placeholder="Origem" class="form-control">
        </div>
        <div class="form-group col-4 offset-4">
            <label></label>
            <input type="text" placeholder="Destino" class="form-control">
        </div>
        <div class="form-group col-4 offset-4">
            <label></label>
            <input type="text" placeholder="Data de partida" class="form-control">
        </div>
        <div class="form-group col-4 offset-4">
            <label></label>
            <input type="text" placeholder="Data de volta" class="form-control">
        </div>
        <div class="col-4 offset-4">
            <button class="btn col-4">Consultar</button>
        </div>

    </div>
</div>