<h2>
  Cadastro de Livros
  <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-left: 10px;">library_add</mat-icon>
</h2>


<mat-card>
  <form (submit)="onAddBook(bookForm)" #bookForm="ngForm">


    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="ID"
        name="id"
        ngModel
        required
        minlength="1"
        #id="ngModel"
      />
      <mat-error *ngIf="id.invalid">Digite um ID válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Titulo"
        name="titulo"
        ngModel
        required
        #titulo="ngModel"
      />
      <mat-error *ngIf="titulo.invalid">Digite um Título válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Autor"
        name="autor"
        ngModel
        required
        #autor="ngModel"
      />
      <mat-error *ngIf="autor.invalid">Digite um nome de autor válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Número de páginas"
        name="npaginas"
        ngModel
        required
        #npaginas="ngModel"
      />
      <mat-error *ngIf="npaginas.invalid">Digite um número de páginas válido</mat-error>
    </mat-form-field>

    <button color="primary" mat-raised-button>
      Inserir Livro
    </button>
  </form>
</mat-card>
