<h2>
  Cadastro de Livros
  <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-left: 10px;">library_add</mat-icon>
</h2>

<mat-card>
  <mat-form-field>
    <input type="text" matInput
      placeholder="ID"
      [(ngModel)]="id" />
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput
      placeholder="Titulo"
      [(ngModel)]="titulo" />
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput
      placeholder="Autor"
      [(ngModel)]="autor" />
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput
      placeholder="Número de páginas"
      [(ngModel)]="npaginas" />
  </mat-form-field>

  <button mat-raised-button color="primary"
    (click)="onAddBook()"
    >Inserir Livro</button>

</mat-card>
